.env
venv/
__pycache__/
vox-dimention-firebase-adminsdk-fbsvc-0c1fd765d1.json
app/vox-dimention-firebase-adminsdk-fbsvc-0c1fd765d1.json
app/__pycache__/*.pyc
app/__pycache__/
app/firebase_config.py
firebase_config.py
vox-dimention-6c034ebcc7b4.json
*.pyc
.env
*.json